/* Styling for home */

body, html {
	height: 100%;
	width: 100%;
	background-color: rgb(253, 245, 245);
	margin: 0;
	padding: 0;
}

.page-wrapper {
	width: 100%;
	position: relative;
	background-color: rgb(253, 245, 245);
	background-image: url("home-layers/Content_background_top.png");
	background-repeat: repeat-x;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}



/* Navigation bar */

.left-nav {
	display: inline-block;
	height: 100%;
	padding: 40px;
	width: 30%;
	background: url("home-layers/Left_nav_background.png") repeat;
} 

#new-post-button {
	 color: rgb(247, 147, 30);
	 font-size: 18px;
}

.nav {
	font-size: 18px;
}

.nav-logo img {
	width: 100%;
}

.nav-logo {
	padding: 10px 5px 0 5px;
	margin-bottom: 30px;
}



/* Content */

.content-wrapper {
	background-color: rgb(253, 245, 245);
	background-image: url("home-layers/Content_background_top.png");
	background-repeat: repeat-x;
}

.content {
	float: right;
	display: inline-block;
	width: 70%;
	padding: 90px 70px;
}



/* Blog post */

.date {
	background: -webkit-linear-gradient(left, rgb(222, 113, 38), rgb(246, 146, 30)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, rgb(222, 113, 38), rgb(246, 146, 30)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, rgb(222, 113, 38), rgb(246, 146, 30)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, rgb(222, 113, 38), rgb(246, 146, 30)); /* Standard syntax */
	height: 40px;
	width: 100%;
	color: white;
	padding: 10px 25px;
	font-size: 16px;
}



/* Footer */

.footer-wrapper {
	background-color: rgb(247, 147, 30);
	width:100%;
	height:158px;
	margin-top: -10px;
/*	position:absolute;
	bottom:0;
	left:0;*/
}

.footer-area {
	margin-top: 10px;
	width: 971px;
	margin-left: auto;
	margin-right: auto;
}

.footer {
	font-size: 17px;
	width: 745px;
	margin-left: auto;
	margin-right: auto;
}

.logos {
	float: left;
	margin-top: 25px;
	border-bottom: 2px dotted white;
	width: 400px;
}

#logo-img {
	height: 35px;
	margin: 0 0 20px 20px;
}

.links {
	float: left;
	margin-top: 15px;
	width: 275px;
	color: white;
	border-right: 2px dotted white;
}

.email-submit {
	float: left;
	margin: 20px;
}

#email-submit-button {
	margin-left: 20px;
}



/* Add post lightbox */

.add-post-box {
	display: none;
	background-color: rgb(253, 245, 245);
	border: 1px solid black;
	height: 700px;
	width: 776px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin: -350px 0 0 -388px;
	z-index: 9999999;
}

.add-post-cover {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.6;
	z-index: 9999;
}




.nav-description {
	border-top: 3px dotted white;
	border-bottom: 3px dotted white;
	padding: 16px 0 16px 0;
	color: white;
	font-family: sans-serif;
	font-weight: 100;
	font-size: 13px;
	line-height: 20px;
}

.search-bar {
	margin-top: 29px;
	height: 32px;
	width: 100%;
	background-color: white;
	opacity: .2;
}

.search-container {
	height: 39px;
	margin-bottom: 8px;
}

.search-container input {
	height: 39px;
	width: 86%;
	position: relative;
	top: -36px;
	left: 13px;
	background: transparent;
	border: none;
	color: white;
}

.search-container input:focus {
	outline: 0;
}

#search-icon {
	opacity: 1;
	position: relative;
	top: -36px;
	left: 9px;
}


.archive-nav {
	margin-left: 28px;
	font-size: 14px;
}
